{{# partial "titulo" }}	
	<title>Busqueda de Recetas - QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	

<h1> Busqueda de Recetas </h1>
<br>
<br>

	<div class="container">
		<form action="/consultas" method= "GET">
			
	<div class="col-md-6">
				<div class="row">
					<div class="row">
						<div class="col-md-2">
							<label for="filtro"> Nombre</label>		
						</div>
					<div class="col-md-4">
						<input type="text" name="filtroNombre">
					</div>
					</div>
		 
			
		
				</div>
	<br>
	
			<div class="row">
		
				<div class="row">
					<div class="col-md-2">
					<label for="filtroDificultad">Dificultad</label>		
				</div>
				<div class="col-md-4">
				<select class="form-control" name="filtroDificultad">
					<option></option>
  					<option>FACIL</option>
  					<option>MEDIANA</option>
  					<option>DIFICIL</option>
				</select>
				</div>
			</div>
		
			</div>
	</div>
	
		<div class="col-md-6">
			<div class="row">
		
				<div class="row">
					<div class="col-md-2">
						<label for="filtroTemporada">Temporada</label>		
					</div>
					<div class="col-md-4">
					<select class="form-control" name="filtroTemporada">
						<option></option>
						<option>INVIERNO</option>
						<option>VERANO</option>
						<option>PRIMAVERA</option>
						<option>OTONIO</option>
					</select>
					</div>
				</div>
			</div>
		
	
	<br>
	       <div class="row">
			<div class="row">
				<div class="col-md-2">
					<label for="filtroCaloriaHasta">Calorias</label>
				</div>
				<div class="col-md-4">	
					<input type="text" name="filtroCaloriasDesde">
				</div>
				
			<div class="row">	
				<div class="col-md-2">
					<label for="filtroCaloriaDesde">hasta</label>
				</div>
				<div class="col-md-4">
					<input type="text" name="filtroCaloriasHasta">
				</div>
			</div>
			</div>
			</div>	
	</div>
	
	
	
	<div class="row"> <div class="col-md-12"> </div> </div>
	<br>
	<br>
	<button type="submit" class="btn btn-primary btn-lg">Buscar</button>
	
	</form>
	
	</div>
	
	<div class="row">
		{{#if consultas}}
		<div class="col-md-12">	
		
		  
    
<table class="table table-bordered" >
			<hr>
				<td><strong>Nombre</strong></td>
				<td><strong>Calorías</strong></td>
				<td><strong>Dificultad</strong></td>
				<td><strong>Temporada</strong></td>
				<td><strong>Origen</strong></td>
				
			</hr>
		{{#consultas}}
			<tr>
				<div class="list-group">
				    <td> {{nombreDelPlato}} </td>
					<td>{{totalCalorias}}</td>
					<td>{{Dificultad}}</td>
					<td>{{Temporada}}</td>
					<td> {{origen}} </td>
					<td><a href="/receta/{{id}}" class="btn btn-default"> Ver Receta </a></td>
					</div>
			</tr>
		{{/consultas}}
	</table>
	
  
		</div>
		{{else}}
		<br>
		<br>
  <h3>No se encontraron recetas</h3>
	<br>
    
  {{/if}}
		<br>
		<!-- <button type="submit" class="btn btn-default">Ver Receta</button> -->
		 <!--a class="btn btn-primary"   href="/receta/:id">Ver Receta</a-->
		<br>
	</div>
	
{{/partial}}
				
{{> layout.hbs }}