{{# partial "titulo" }}	
	<title>Home - QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	

<h1> Bienvenido a QueComemos! <h1>
<br>
<h3> Estas son sus ultimas recetas: <h3>
<br>

<div class="row">
	<div class="col-md-12">	
	<table class="table table-striped" >

			<td><strong>Nombre del plato</strong></td>
			<td><strong>Calorias</strong></td>
			<td><strong>Dificultad</strong></td>
			<td><strong>Temporada</strong></td>
			<td><strong>Origen</strong></td>

			<td><b>Nombre del plato</b></td>
			<td><b>Calorias</b></td>
			<td><b>Dificultad</b></td>
			<td><b>Temporada</b></td>
			<td><b>Origen</b></td>

		</hr>
	{{#recetas}}
		<tr>
			<td><a href = /receta/{{id}}>{{nombreDelPlato}}</a></td>
			<td>{{totalCalorias}}</td>
			<td>{{dificultad}}</td>
			<td>{{temporada}}</td>
			<td>{{origen}}</td>
			<td><a href="/receta/{{id}}" class="btn btn-default"> Ver Receta </a></td>
		</tr>
	{{/recetas}}				
	</table>
	</div>
</div>

{{/partial}}
				
{{> layout.hbs }}