{{# partial "titulo" }}	
	<title>Home - QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	

<h1> Bienvenido a QueComemos! <h1>
<br>
<h3> Estas son sus ultimas recetas: <h3>
<br>

<div class="row">
	<div class="col-md-12">	
	<table class="table table-striped" >
			<td>Nombre del plato</td>
			<td>Calorias</td>
			<td>Dificultad</td>
			<td>Temporada</td>
			<td>Origen</td>
		</hr>
	{{#recetas}}
		<tr>
			<td>{{nombreDelPlato}}</td>
			<td>{{totalCalorias}}</td>
			<td>{{dificultad}}</td>
			<td>{{temporada}}</td>
			<td>{{origen}}</td>
		</tr>
	{{/recetas}}				
	</table>
	</div>
</div>

{{/partial}}
				
{{> layout.hbs }}