{{# partial "titulo" }}
	<title> Perfil de Usuario - QueComemos</title>
{{/partial}}

{{# partial "contenido" }}

<h1> Perfil de Usuario </h1>
<br>
<br>

	<body>
		<div class="container">
		<form action="/perfil" method= "GET">

			<div class="row">
  			<div class="col-md-6">
					<div>
						<label for="nombre">Nombre: </label>{{nombre}}
					</div>
					<div>
						<label for="sexo">Sexo: </label>{{sexo}}
					</div>
					<div>
						<label for="nacimiento">Fecha de nacimiento: </label>{{nacimiento}}
					</div>
					<div>
						<label for="altura">Altura: </label>{{altura}}
					</div>
					<div>
						<label for="peso">Peso: </label>{{peso}}
					</div>
					<div>
						<label for="imc">IMC </label>{{imc}}
					</div>
					<div>
						<label for="rutina">Rutina: </label>{{rutina}}
					</div>
				</div>

					<div class="col-md-6">
						<div><label>condiciones</label></div>
						<select multiple class="form-control">
								{{#condiciones}}
								<option>{{nombre}}</option>
								{{/condiciones}}
						</select>
					</div>


			<div>
				<div class="row">
					<div class="col-md-6">
						<table class="table table-bordered" >
							<hr>
								<td>Preferencias alimenticias</td>
							</hr>
							{{#preferencias}}
							<tr>
								<td>{{nombre}}</td>
							</tr>
							{{/preferencias}}
						</table>
					</div>
					<div class="col-md-6">
						<table class="table table-bordered" >
							<hr>
								<td>Comidas que le disgustan</td>
							</hr>
							{{#disgusta}}
							<tr>
								<td>{{nombre}}</td>
							</tr>
							{{/disgusta}}
						</table>
					</div>
				</div>
			</div>

		</div>
		
		<h2> Recetas favoritas</h2>
		
		<div>
			<table class="table table-bordered" >
					<hr>
						<td>Nombre</td>
						<td>Calorías</td>
						<td>Dificultad</td>
						<td>Temporada</td>
						
					</hr>
				{{#fav}}
					<tr>
						<div class="list-group">
						    <td>{{nombreDelPlato}}</td>
							<td>{{totalCalorias}}</td>
							<td>{{Dificultad}}</td>
							<td>{{Temporada}}</td>
							<td><a href="/receta/{{id}}" class="list-group-item active"> Ver Receta </a></td>
							</div>
					</tr>
				{{/fav}}
			</table>
		</div>
	</form>
	</div>

	</body>

{{/partial}}

{{> layout.hbs }}
