{{# partial "titulo" }}
	<title>Receta - QueComemos</title>
{{/partial}}

{{# partial "contenido" }}
<h1>Detalle de Receta</h1>
<br>
<br>
<body>
	<div class="container">
	<form action="/receta" method= "GET">
	

<div class="row">
  <div class="col-md-1"> <label>Receta:</label> </div>
  	<div class="col-md-4">
  		<pre>{{nombreDelPlato}}</pre>
  	</div>
</div>
<br>

<div class="row">
  <div class="col-md-1"><label>Calorias:</label></div>
    	<div class="col-md-1">
  			<pre>{{cantidadCalorias}}</pre>
  		</div>
  <div class="col-md-2"><label>Creado por:</label></div>
    	<div class="col-md-4">
  			<pre>{{creador}}</pre>
  		</div>
</div>
<br>

<div class="row">
  <div class="col-md-6"> <label>Dificultad</label> </div>
  <div class="col-md-6"> <label>Temporada</label> </div>
</div>
<br>


<div class="row">
  <div class="col-md-2"> <pre>{{dificultad}}</pre> </div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-2"> <pre>{{temporada}}</pre> </div>
 </div>

<br>
<div class="row">
	<div class="col-md-6"><label>Ingredientes</label>
  		<table class= "table table-bordered">
  		
  			<td> <label>Nombre</label> </td>
  			<td> <label>Dosis</label> </td>
  			
  			{{#ingredientes}}
  			<tr>
				<td>{{nombre}}</td>
				<td>{{cantidad}}</td>
			</tr>
			{{/ingredientes}}
  		</table>
  	</div>
  <div class="col-md-6"><label>Condimentos</label>
  	
     {{#condimentos}}
  		<ul><span style="font-size: 100%"><em>{{nombre}}</em></span><ul>
  	{{/condimentos}}

  </div>
</div>
<br>


<div class="row">
  <div class="col-md-6">
   <br>
   <div class="checkbox">
  		<label>
    		<input type="checkbox" id="blankCheckbox" {{#if favorita}} checked{{/if}}> Favorita
  		</label>
	</div>
  </div>
  <div class="col-md-6"><label>Condiciones Preexistentes</label>
	
	    {{#condiciones}}
  		<ul><p class="text-left"><span style="font-size: 100%"><em>{{nombre}}</em></span></p><ul>
        {{/condiciones}}
	
  </div>
</div>
<br>

			<div class="row">
  			<div class="col-md-6"> <label>Proceso de Preparacion</label> </div>
			</div>

			<pre>{{preparacion}}</pre>

			<p class="text-center"><a class="btn btn-primary btn-lg" href="/consultas/buscar" role="button">Volver</a></p>
		</form>
	</div>
</body>
{{/partial}}

{{> layout.hbs }}
